[Unit]
Description=Tardis Backup Server
After=syslog.target

[Service]
ExecStart=/usr/bin/tardisd --daemon
ExecStop=/usr/bin/killall tardisd

[Install]
WantedBy=multi-user.target
