[Unit]
Description=Tardis Backup Server
After=syslog.target

[Service]
ExecStart=/usr/local/bin/tardisd --daemon
ExecStop=/usr/bin/killall tardisd
Type=forking
PIDFile=/var/run/tardisd.pid

[Install]
WantedBy=multi-user.target
