[Unit]
Description=Tardis HTTP File Server
After=syslog.target

[Service]
ExecStart=/usr/local/bin/tardisremote --daemon
ExecStop=/usr/local/bin/killall tardisremote
Type=forking
PIDFile=/var/run/tardisremote.pid

[Install]
WantedBy=multi-user.target
