[Unit]
Description=Tardis HTTP File Server
After=syslog.target

[Service]
ExecStart=/usr/bin/tardisremote --daemon --config /etc/tardis/tardisremote.cfg
ExecStop=/usr/bin/killall tardisremote
Type=forking
PIDFile=/var/run/tardisremote.pid

[Install]
WantedBy=multi-user.target
